.title-color-1 {
    color: #4285f4;
}
.title-color-2 {
    color: #ea4335;
}
.title-color-3 {
    color: #fbbc05;
}

.main-container-signup {
    border: 1px solid #eee;
    padding: 50px;
    margin-top: 3vh;
}
